@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Plus Jakarta Sans", "Avenir Next", "Segoe UI", sans-serif;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
